:root{
    /* Timing functions */
    --ease-in-sine:         cubic-bezier( 0.12,  0.00,  0.39,  0.00); /* Sine */
    --ease-out-sine:        cubic-bezier( 0.61,  1.00,  0.88,  1.00); /* --- */
    --ease-in-out-sine:     cubic-bezier( 0.37,  0.00,  0.63,  1.00); /* --- */

    --ease-in-quad:         cubic-bezier( 0.11,  0.00,  0.50,  0.00); /* Quadratic */
    --ease-out-quad:        cubic-bezier( 0.50,  1.00,  0.89,  1.00); /* --- */
    --ease-in-out-quad:     cubic-bezier( 0.45,  0.00,  0.55,  1.00); /* --- */

    --ease-in-cubic:        cubic-bezier( 0.32,  0.00,  0.67,  0.00); /* Cubic */
    --ease-out-cubic:       cubic-bezier( 0.33,  1.00,  0.68,  1.00); /* --- */ 
    --ease-in-out-cubic:    cubic-bezier( 0.65,  0.00,  0.35,  1.00); /* --- */ 

    --ease-in-quart:        cubic-bezier( 0.50,  0.00,  0.75,  0.00); /* Quartic */
    --ease-out-quart:       cubic-bezier( 0.25,  1.00,  0.50,  1.00); /* --- */
    --ease-in-out-quart:    cubic-bezier( 0.76,  0.00,  0.24,  1.00); /* --- */

    --ease-in-quint:        cubic-bezier( 0.64,  0.00,  0.78,  0.00); /* Quintic */
    --ease-out-quint:       cubic-bezier( 0.22,  1.00,  0.36,  1.00); /* --- */
    --ease-in-out-quint:    cubic-bezier( 0.83,  0.00,  0.17,  1.00); /* --- */

    --ease-in-expo:         cubic-bezier( 0.70,  0.00,  0.84,  0.00); /* Exponential */
    --ease-out-expo:        cubic-bezier( 0.16,  1.00,  0.30,  1.00); /* --- */
    --ease-in-out-expo:     cubic-bezier( 0.87,  0.00,  0.13,  1.00); /* --- */

    --ease-in-circ:         cubic-bezier( 0.55,  0.00,  1.00,  0.45); /* Circular */
    --ease-out-circ:        cubic-bezier( 0.00,  0.55,  0.45,  1.00); /* --- */
    --ease-in-out-circ:     cubic-bezier( 0.85,  0.00,  0.15,  1.00); /* --- */

    --ease-in-back:         cubic-bezier( 0.36,  0.00,  0.66, -0.56); /* Back */
    --ease-out-back:        cubic-bezier( 0.34,  1.56,  0.64,  1.00); /* --- */
    --ease-in-out-back:     cubic-bezier( 0.68, -0.60,  0.32,  1.60); /* --- */
}